.selectedview
{
    -fx-background-color:  rgb(0, 150, 203);
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-background-insets: 0,0,-1,0,0,1,2;
    -fx-background-radius: 3,3,2,1;
 	-fx-border-insets: 0,0,-1,0,0,1,2;
    -fx-border-radius: 3,3,2,1;
}
.notselected
{
      -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 6, 5;
}   
.notselectedz
{
	-fx-background-color: black;
    -fx-text-fill: white;
     -fx-border-width: 1;
    -fx-border-color: white;
      -fx-background-insets: 0,0,-1,0,0,1,2;
    -fx-background-radius: 3,3,2,1;
 	-fx-border-insets: 0,0,-1,0,0,1,2;
    -fx-border-radius: 3,3,2,1;
}